<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ config.description }}">
        <meta name="author" content="{{ config.extra.author.name }}">
        
        <!-- fonts and styles -->
        <link href="https://fonts.googleapis.com/css?family=Rubik:400,700" rel="stylesheet">
        <link href="{{ config.base_url | safe }}/style.css" rel="stylesheet">

        <title>
            {% if section and section.title %}
                {{ section.title }}
            {% elif page and page.title %}
                {{ page.title }}
            {% else %}
                {{ config.title }}
            {% endif %}
        </title>
    </head>
    <body>
        <div class="section header">
            <div class="logo">
                <a href="/" class="logo-image" width="100"></a>
            </div>
            <div class="links">
                {% set root_section = get_section(path="_index.md") %}
                {% for page in root_section.pages %}
                    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
                {% endfor %}
                {% for subsection_path in root_section.subsections %}
                    {% set subsection = get_section(path=subsection_path) %}
                    <a href="{{ subsection.permalink | safe }}">{{ subsection.title }}</a>
                {% endfor %}
            </div>
            <!-- search would go here -->
        </div>
        {% block content %}
        {% endblock content %}
        <div class="section footer">
            &copy; {{ now() | date(format="%Y") }} {{ config.extra.author.name }}
        </div>
    </body>
</html>
